<!DOCTYPE html>
<html lang="en">
    <head>
       
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164229329-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-164229329-1');
</script>

       
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="public/css/dark.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link rel="stylesheet" href="public/css/style.css">
        <title>Login Closed Beta - Raccolta Nazionale</title>
        <script
      src="https://code.jquery.com/jquery-3.5.0.min.js"
      integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
      crossorigin="anonymous"></script>
      <script src="public/js/functions.js"></script>
      <style>
        body,html{
            height:100%;
        }
      </style>
    </head>
<body>

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col"></div>
            <div class="jumbotron py-4 pb-5 col-sm-5 col-xs-5 col-md-5">
            <form action="/db/login" method="POST">
                <h3>Login</h3>
                <input type="text" name="username" placeholder="Username" class="form-control">
                <input type="password" name="password" placeholder="Password" class="form-control">
                <input type="submit" name="submit" value="Login" class="btn btn-block btn-success mt-2">
                </form>
            </div>
                <div class="col"></div>
        </div>
      </div>
</body>
</html>