<html>
<body>
	<head>
		<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
		<title>Ciao come stai?</title>
	</head>
<div class="container">
<a href="/">Home</a>
<img src="<%= newArr[3]  %> " alt=""> <br>
<h1><%= newArr[0] %> </h1> <hr> <br>
<div id="content"><%- newArr[1]  %></div> <br> <hr>
<p><%= newArr[2] %> </p>
</div>
</body>	
</html>