<html>
<body>
	<head>
		<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
		<title>Ciao come stai?</title>
	</head>
<div class="container">
<a href="../">Home</a>
<img src="<%= urlArr[3]  %> " alt=""> <br>
<h1><%= urlArr[0] %> </h1> <hr> <br>
<div id="content"><%- urlArr[1]  %></div> <br> <hr>
<p><%= urlArr[2] %> </p>
</div>
</body>	
</html>