.navigation-item:not(:active) {
    /* now keep red background for 1s */
    transition: background-color 0.5s linear;
}
.navigation-item:active {
    background-color: #16a085;
}

#post {
    overflow-wrap: break-word!important;
}
img {
    width: 100%;
    height: auto;
}
/*----------------------- Preloader -----------------------*/

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #222;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
}
.credits {
    z-index: 99999999999999999999;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}